<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!-- Online using Office 365 -->
     <add name="CRMOnline"
         connectionString="Url=https://lexmarkcrm.crm8.dynamics.com; Username=satish@lexmarkcrm.onmicrosoft.com; Password=Pearl@123; authtype=Office365"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CalculatorSoap" />
                <binding name="CalculatorSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
                contract="CalculatorService.CalculatorSoap" name="CalculatorSoap" />
            <endpoint address="http://www.dneonline.com/calculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="CalculatorSoap1"
                contract="CalService.CalculatorSoap" name="CalculatorSoap1" />
        </client>
    </system.serviceModel>
</configuration>